<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ... meta tags e links de estilo ... -->
</head>
<body>
  <main class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">financeiro</h1>
        
    </div>

   

    <div class="row g-4">
        <% @financeiros.each do |financeiro| %>
        <div class="col-md-6 col-lg-4">
            <section class="card">
                <img src="https://img.freepik.com/free-photo/calendar-with-date-schedule-alarm-clock_107791-15677.jpg" class="card-img-top" alt="Ilustração de financeiro">
                <div class="card-body">
                    <h5 class="card-title"><%= financeiro.titulo %></h5>
                    <p class="card-text"><strong>Local:</strong> <%= financeiro.local %></p>
                    <p class="card-text"><strong>Data e Hora:</strong> <%= financeiro.dataehora.strftime("%d/%m/%Y %H:%M") %></p>
                    <p class="card-text"><strong>Status:</strong> <%= financeiro.status ? "Concluída" : "Não concluída" %></p>

                    <div class="d-flex justify-content-between align-items-center">
                        <%= link_to 'Mostrar', financeiro, class: "btn btn-sm btn-outline-primary" %>
                        <%= link_to 'Editar', edit_financeiro_path(financeiro), class: "btn btn-sm btn-outline-secondary" %>
                        <% if financeiro.status? %>
                            <span class="btn btn-sm btn-outline-success">Concluído</span>
                        <% else %>
                            <%= button_to 'Concluir', financeiro_path(financeiro), method: :patch, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-outline-success" %>
                        <% end %>
                    </div>
                </div>
            </section>
        </div>
        <% end %>
    </div>

    <%= link_to 'Voltar', root_path %>
  </main>

  <!-- Scripts Bootstrap -->
</body>
</html>
